#instructions {
	width: 300px;
	padding: 20px;
	position: absolute;
	top: 0px;
	right: -340px;
	background: #03A696;
}

#instructions h2 {
	color: #fff;
	text-align: center;
}

#instructions h3, #instructions p, #instructions ol {
	color: #fff;
}

#instructions a{
	font-weight: 900;
	color: #F2D02B;
}

#instructions.show-menu {
-webkit-transform: translateX(-340px);
transform: translateX(-340px);
-webkit-transition: .3s ease all;
transition: .3s ease all;
}